<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <style>
        .pseudo {
            background-color: black;
            color: white;
            font-weight: bold;
            padding: 2px 5px 2px 5px;
        }

        .todo {
            color: red;
        }

        .done {
            color: black;
        }

        .supprime_todo:hover {
            cursor: default;
        }

        .done + .todo_item {
            text-decoration: line-through;
        }

        .supprime_todo:hover + .todo_item {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
<div class="container">

    <header class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h1>Chat'n do</h1>
            </div>
            <div class="col-lg-5">
                <h2>Hello <%= pseudo %> !</h2>
            </div>
            <div class="col-lg-1">
                <h5><a href="/logout">logout</a></h5>
            </div>
        </div>
    </header>

    <div class="row">

        <div class="col-lg-6 col-sm-12">

            <h2>Chat</h2>

            <form id="chat" action="" class="form-inline">
                <div class="form-group">
                    <input type="text" size="40" name="message" id="message" class="form-control"
                           placeholder="Votre message ..." autofocus/>
                    <input type="submit" value="Envoyer" class="btn btn-default"/>
                </div>
            </form>
            <div id="conversation">
            </div>
        </div>

        <div class="col-lg-6 col-sm-12">

            <h2>Do</h2>

            <form id="todo" action="" class="form-inline">
                <div class="form-group">
                    <input type="text" size="40" name="trucAFaire" id="truc_a_faire" class="form-control"/>
                    <input type="submit" value="Ajouter" class="btn btn-default"/>
                </div>
            </form>
            <ul id="todo_liste" class="list-unstyled">
            </ul>
        </div>

    </div>

</div>

<script>
    /*
     * connection
     */
    var socket = io.connect('http://<%= address %>:<%= port %>');
    socket.emit('hello');

    /*
     * gestion du chat
     */

    /*
     * réception d'un message
     */
    socket.on('message', function (msg) {
        $('#conversation').prepend('<p>' + msg + '</p>');
    });

    /*
     * entrée d'un message
     */
    $('#chat').submit(function () {
        m = $('#message');
        if (m.val().length > 0) {
            socket.emit('message', {message: m.val()});
            m.val('');
        }
        return false;
    });

    /*
     * gestion de la todo list
     */

    /*
     * suppression d'un item
     */
    $('body').on('click', '.supprime_todo', function () {
        socket.emit('client_supprime_todo', $(this).attr('id'));
    });

    /*
     * réception de la todo liste
     *
     * Remplace la todo liste par la nouvelle liste reçue.
     * Met à jour les triggers de suppression des items de la liste.
     */
    socket.on('serveur_emet_todo_list', function (todoList) {
        $('#todo_liste').html('');
        todoList.forEach(function (todoItem) {
            var item = '<li><span class="supprime_todo ' + todoItem.todoState + '" id="' + todoItem.todoId + '">&#x2718; </span><span class="todo_item">' + todoItem.todoItem + '</span></li>';
            $('#todo_liste').prepend(item);
        });
    });

    /*
     * receive conversation
     */
    socket.on('serveur_emet_conversation', function (conversation) {
        $('#conversation').html('');
        conversation.forEach(function (conversationItem) {
            $('#conversation').prepend('<p>' + conversationItem + '</p>');
        })
    });

    /*
     * création d'un nouveau todo
     */
    $('#todo').submit(function () {
        m = $('#truc_a_faire');
        if (m.val().length > 0) {
            socket.emit('client_ajoute_todo', m.val());
            m.val('');
        }
        return false;
    });

</script>
</body>
</html>
